<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="./static/main.js" defer></script>
<link rel="stylesheet" href="./static/main.css">
<title>Poke API</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">PokéAPI Project</a>
        </div>
    </nav>


    <div class="container mt-5">

        <form id="pokemonForm" class="mb-3">
            <div class="input-group">
                <input type="text" id="pokemonInput" class="form-control" placeholder="Enter Pokémon name or ID">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>


        <div id="pokemonDetails" class="row">
        </div>

    </div>


    <footer class="footer mt-5">
        <div class="container">
            <span class="text-muted">© 2024 PokéAPI Project</span>
        </div>
    </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>